<!DOCTYPE html>
<html>
  <head>
    <title>INDEX</title>
  	<script src="/socket.io/socket.io.js"></script>
    <!--script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/javaScripts/bootstrap.min.js"></script>
    
    <script>
        //var data = null;
        //var socket = io();
        function tableController($scope, $http) {
          $scope.data = null;
          $scope.socket = io();
          $scope.socket.on('new message', function(msg) {
             //
              if ($scope.data) {
                $scope.$apply($scope.data.newMessage(msg));
              }
          });
          $scope.socket.on('friend req', function(friendReq) {
              if ($scope.data) {
                //alert(1);
                $scope.$apply($scope.data.newReq(friendReq));
                
              }
          });
          $scope.socket.on('ans friend req', function(friendReq) {
              if ($scope.data && friendReq.msg) {
                $scope.$apply($scope.data.newFriend({username : friendReq.to}, friendReq.msg));
              }
              else {
           
              }
          });    
          var url = '/users/userdata';

          $http.get(url).success(function(response) {
            if (response == 'error') {

            }
            
            $scope.data = response;
            //alert(response.friendList[0]);
            $scope.data.friendList.moveToHead = function(friend) {
                var index = $scope.data.friendList.indexOf(friend);
                if (index == -1) {
                  return;
                }
                else {
                  var head = $scope.data.friendList[index];
                  $scope.data.friendList.splice(index, 1);
                  $scope.data.friendList.unshift(head);
                }
                  
            };
            $scope.data.initFriendList = function() {
                for (var i = 0; i < $scope.data.friendList.length; i++) {
                  $scope.data.friendList[i].messages = [];
                  $scope.data.friendList[i].newMessageCnt = 0;
                  $scope.data.friendList[i].viewed = false;
                }
                for (var i = 0; i < $scope.data.messageList.length; i++) {
                  var mess = $scope.data.messageList[i];
                  $scope.data.newMessage(mess);
                }
                $scope.data.messageList = [];
                //alert(data.messageList.length);
            };
            $scope.data.newMessage = function(mess) {
                var friendName;
                var cntP;
                if (mess.from == $scope.data.user.username) {
                  friendName = mess.to;
                  mess.type = 'text-right';
                  cntP = 0;
                }
                else {
                  friendName = mess.from;
                  mess.type = 'text-left';
                  cntP = 1;
                }
                $scope.data.friendList.moveToHead(friendName);
                $scope.data.friendList[0].messages.push(mess); 
                
                $scope.data.friendList[0].newMessageCnt += cntP;
                
                if ($scope.view.currentFriend && friendName == $scope.view.currentFriend.username) {
                  
                  $scope.view.currentFriend.newMessageCnt = 0;
                }
                
            };
            $scope.data.newReq = function(req) {
                $scope.data.reqList.unshift(req);
            };
            $scope.data.newFriend = function(friend, msg) {
                friend.messages = [];
                if (msg) {
                  friend.messages.push(msg);
                }
                $scope.data.friendList.unshift(friend);
            };
            $scope.data.removeMessages = function(friend) {
                friend.messages.clear(); 
            };
            $scope.data.removeReq = function(request) {
                var index = $scope.data.reqList.indexOf(request);
                if (index != -1)
                  $scope.data.reqList.splice(index, 1);
            };
            $scope.sendReq = function(user) {
              //alert(11);
              var index = $scope.view.searchedUserList.indexOf(user);
              //alert(index);
              $scope.view.searchedUserList.splice(index, 1);
              
              //alert(index);

              var request = {from : $scope.data.user.username, to : user.username, msg : user.msg};
              
              $scope.socket.emit('friend req', request);
              
            }
            $scope.ansReq = function(request, agree) {
              
              if (agree == true) {
                var friend = {username : request.from};
                $scope.data.newFriend(friend);
              }
              $scope.data.removeReq(request);
              request.msg = agree;
              $scope.socket.emit('ans friend req', request);
            };
            $scope.sendMsg = function(e) {
                 
                
                if (e) {
                  var keycode = window.event?e.keyCode:e.which;
                  if(keycode != 13 || !e.ctrlKey){
                    return;
                  }
                }

                if ($scope.view.currentFriend == null) {
                  //alert($scope.view.typingText);
                  //$scope.view.typingText = '';
                  
                  return;
                }
                var content = $scope.view.typingText;
                var message = {from : $scope.data.user.username, to : $scope.view.currentFriend.username, content : content};
                $scope.socket.emit('new message', message);
                message.type = 'text-right';
                $scope.data.newMessage(message);
                $scope.view.typingText = '';
                
            };
            $scope.view = {};
            $scope.view.typingText = '';
            $scope.view.currentFriend = null;
            $scope.view.searchKeyword = null;
            $scope.view.searchedUserList = null;
            $scope.view.search = function() {
               if ($scope.view.searchKeyword == null) {
                return;
               }
               if ($scope.view.searchKeyword == 'Search...') {
                return;
               }
               if ($scope.view.searchKeyword.length < 1) {
                return;
               }
               var url = '/users/userlist/' + $scope.view.searchKeyword;
               $http.get(url).success(function(response) {
                  if (response == 'error') {
                    return;
                  }
                  $scope.view.searchedUserList = response;

                });

            };
            $scope.view.showChat = function(friend) {
              
              if ($scope.view.currentFriend) {
                $scope.view.currentFriend.type = 'list-group-item';
              }
              friend.type = 'list-group-item active';
              friend.newMessageCnt = 0;
              $scope.view.currentFriend = friend;

              if (!friend.viewed) {

                $scope.socket.emit('messages viewed', {from : friend.username, to : $scope.data.user.username});
                friend.viewed = true;

              }
            };
            
            $scope.data.initFriendList();
          });
        }
        var app = angular.module("app", []);
        app.controller('tableController', tableController);
        
      </script>
  </head>
  <body ng-app="app" ng-controller="tableController">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Chat box</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="/users/logoutsession">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input ng-change="view.search()" ng-model="view.searchKeyword" type="text" class="form-control" placeholder="Search..."></input>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="overflow:auto;height:1000px;">
          <ul class="list-group">
            
            <a ng-click="view.showChat(friend)" ng-repeat="friend in data.friendList" ng-class="friend.type" class="list-group-item" href>
              <span ng-show="friend.newMessageCnt > 0" class="badge">
                {{friend.newMessageCnt}}</span>
                {{friend.username}}
            </a>
            
          </ul>
          
        </div>

        

        <div class="col-sm-4 col-sm-offset-1 col-md-6 col-md-offset-1 main">
          <h1 class="page-header">Hello <%=username%></h1>
          <div ng-show="view.currentFriend">
            <div class="panel panel-default" style="overflow:auto;height:600px;">
              <h1 ng-repeat="msg in view.currentFriend.messages" ng-class="msg.type">{{msg.content}}</h1>
            </div>
            <textarea ng-model="view.typingText" ng-bind="view.typingText" ng-keyup="sendMsg($event)" class="form-control" rows="6"></textarea>
            <button ng-click="sendMsg()" class="btn btn-primary btn-block"><h4>send</h4></button>
        </div>
        </div>
        <div class="col-sm-4 col-md-2 sidebar" style="overflow:auto;height:1000px;">
          <br/>
          <br/>
          <br/>
          <br/>
          <ul class="list-group">
            
            <a ng-click="user.visible = !user.visible" ng-repeat="user in view.searchedUserList" class="list-group-item">
                {{user.username}}
                <form ng-show="user.visible" class="form-inline">
                  <input ng-model="user.msg" type="text" class="form-control" placeholder="leave some message"></input>
                  <button ng-click="sendReq(user)" type="button" class="btn btn-default navbar-btn">Add friend</button>
                </form>
            </a>
          </ul>
          <hr/>
          <ul class="list-group">
            
            <a ng-repeat="req in data.reqList" class="list-group-item">
                <h3>{{req.from}} says:</h3>
                {{req.msg}}
                <form class="form-inline">
                  <button ng-click="ansReq(req, true)" type="button" class="btn btn-success navbar-btn">Agree to be friend</button>
                  &nbsp;  &nbsp;
                  <button ng-click="ansReq(req, false)" type="button" class="btn btn-danger navbar-btn">No  &nbsp; &nbsp;</button>
                 
                </form>
            </a>
          </ul>
          
        </div>
      </div>
    </div> 
  </body>
</html>
