<!DOCTYPE html>
<html>
  <head>
    <title>INDEX</title>
  	<script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/javaScripts/bootstrap.min.js"></script>
    <script>
      
      $().ready(function(){
        
        $.ajax({
          url : '/userdata',
          success: function(json) {  
              //data operations
              var data = json;
              data.friendList.moveToHead = function(friend) {
                var index = data.friendList.indexOf(friend);
                if (index == -1) {
                  return;
                }
                else {
                  var head = data.friendList[index];
                  data.friendList.splice(index, 1);
                  data.friendList.unshift(head);
                }
                  
              };
              data.initFriendList = function() {
                for (f in data.friendList) {
                  f.newMessages = [];
                }
                for (mess in data.messageList) {
                  data.moveToHead(mess.from);
                  data.friendList[0].newMessages.push(mess); 
                }
                data.messageList = [];
                //alert(data.messageList.length);
              };
              data.newMessage = function(mess) {
                data.friendList.moveToHead(mess.from);
                data.friendList[0].newMessages.push(mess); 
              };
              data.newReq = function(req) {
                data.reqList.unshift(req);
              };
              data.newFriend = function(friend) {
                friend.newMessages = [];
                data.friendList.unshift(friend);
              };
              data.removeMessages = function(index) {
                data.friendList[index].newMessages.clear(); 
              }
              data.removeReq = function(index) {
                data.reqList.remove(index); 
              }

              //page operations
              var view = {};
              view.buildFriendTable = function() {

              };
              view.chatTo = function() {
                
              };
              view.send = function() {
                
              };
              view.acceptReq = function(index) {
                
              };
              view.refuseReq = function(index) {
                
              };
              var sendTo = function(toUser, content) {
                socket.emit('new message', {from : data.user.username, to : toUser, content: content});
              };
              var requestTo = function(toUser, msg) {
                socket.emit('friend req', {from : data.user.username, to : toUser, msg : msg});
              };
              var ansTo = function(toUser, accept) {
                socket.emit('ans friend req', {from : data.user.username, to : toUser, msg : accept});
              };
              $('#sendBtn').click(function() {
                
                var content = $('#msg').val();
                sendTo('test1', content);
                alert(view.buildFriendTable);
               
              });

              data.initFriendList();

              var socket = io();
              socket.on('new message', function(msg) {
                document.getElementById('show').innerHTML += msg.content;
              });
              socket.on('friend req', function(friendReq) {
                data.newReq(friendReq);
              });
              socket.on('ans friend req', function(friendReq) {
                if (friendReq.msg == true) {

                }
                else {

                }
              });


          }

        });
        
        
      });
      
  	</script>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="overflow:auto;height:1000px;">
          <ul class="list-group">
            <li><a href="#">Reports<span class="badge" color="red">42</span></a></li>
            <li class="list-group-item">
              <span class="badge">14</span>
              Cras justo odio
            </li>
            <li class="list-group-item">
              <span class="badge">14</span>
              Cras justo odio
            </li>
            <li class="list-group-item">
              <span class="badge">14</span>
              Cras justo odio
            </li>
            <li class="list-group-item">
              <span class="badge">14</span>
              Cras justo odio
            </li>
            <li class="list-group-item">
              <span class="badge">14</span>
              Cras justo odio
            </li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          
        </div>
        <div class="col-sm-4 col-sm-offset-1 col-md-6 col-md-offset-1 main">
          <h1 class="page-header"><%=username%></h1>
          <textarea class="form-control" rows="30" readonly="readonly"></textarea>
          <textarea class="form-control" rows="6"></textarea>
          <button class="btn btn-primary btn-block" type="submit"><h4>send</h4></button>
        </div>
        <div class="col-sm-3 col-md-3 sidebar" style="overflow:auto">
          asdasdas
        </div>
      </div>
    </div> 
  </body>
</html>
